/*  red:#d43c33 
    gray:#888
*/

body{
    font-size: 15px;
}

.page{

}

div.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

/* 公共title */
.sectionTitle{
    border-left: 2px solid #d43c33;
    padding-left: 8px;
    font-size: 17px;
    /* 让字与横线对齐 */
    line-height: 1;
    margin: 20px 0 8px;
}

section.topbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 17px 10px;
    background-color: #d43c33;
}

section.topbar .logo svg{
    width: 142px;
    height: 25px;
    /* 消除inline-block的影响 */
    vertical-align: top;
}

section.topbar a{
    display: inline-block;
    /* 为了完成理论像素1px */
    /* border: 1px solid;
    border-radius: 15px; */
    padding: 5px 11px;
    color: #fff;
    /* 高度凑够30px,宽度80px */
    line-height: 20px;   
    position: relative;
}

/* vw，缺点：计算麻烦，优点：随着屏幕自适应 */

section.topbar a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* 因为默认display:inline-block */
    width: 200%;
    height: 200%;
    border: 1px solid #fff;
    border-radius: 50px;
    transform: scale(0.5);
    transform-origin: 0 0;
}


/* tabs */

.tabs{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tabs > li{
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tabs > li.active{
    color: #d43c33;
}

/* 让文字与下划线产生联系 */
.tabs > li .text{
    position: relative;
    top: 1px;
    padding: 10px 5px;
}

.tabs > li.active .text{
}

.tabs > li.active .text::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background-color: #d43c33;
}

.tab-content{
    margin-top: 105px;
}

.tab-content > li{
    display: none;
}

.tab-content > li.active{
    display: block;
}

/* 边距合并，挡住边距合并 */
.no-collapse::before{
    content: '';
    display: table;
}
.no-collapse::after{
    content: '';
    display: table;
}


section.playlists::before{
    
}



section.playlists ol.songs{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}

section.playlists ol.songs > li{
    width: 32.8%;
    margin: 8px 0;
}

section.playlists ol.songs > li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
}

section.playlists ol.songs > li img{
    width: 100%;
}


/*  */
section.songs{
    
}

section.songs .list > li h3{
    font-size: 17px;
}

section.songs .list > li p{
    font-size: 12px;
    color: #888;
}

section.songs .list{
    margin-top: 18px;
}

section.songs .list > li{
    position: relative;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e2e2e3;
}

section.songs .list .playButton{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}


section.songs .list .icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaa;
}
section.songs .list .icon-sq{
    fill: #fe6723;
}



section.hottop{
    background: transparent url(http://s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee) no-repeat center;
    background-size: contain;
    min-height: 146px;
    filter: brightness(.8);
}

section.hottop::before{
    content: '';
    display: table;
}

.hot-pic{
    padding-left: 20px;
}

.hot-wrapper{
    margin-top: 30px;
    background: url(http://s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat;
    background-size: 166px 97px;
    width: 142px;
    height: 67px;
    background-position: -24px -30px;
}

.hot-time{
    margin-top: 10px;
    color: hsla(0,0%,100%,.8);
    font-size: 12px;
}

section.hot-playlists .hot-list > li{
    position: relative;
}

section.hot-playlists .hot-list > li::before{
    content: '';
    position: absolute;
    top: 13px;
    left: -28px;
    width: 28px;
    font-size: 17px;
}

section.hot-playlists .hot-list > li:nth-child(1)::before{
    content: '01';
}
section.hot-playlists .hot-list > li:nth-child(2)::before{
    content: '02';
}

section.hot-playlists .hot-list > li:nth-child(3)::before{
    content: '03';
}
section.hot-playlists .hot-list > li:nth-child(4)::before{
    content: '04';
}
section.hot-playlists .hot-list > li:nth-child(5)::before{
    content: '05';
}
section.hot-playlists .hot-list > li:nth-child(6)::before{
    content: '06';
}

section.hot-playlists .hot-list > li:nth-child(7)::before{
    content: '07';
}
section.hot-playlists .hot-list > li:nth-child(8)::before{
    content: '08';
}
section.hot-playlists .hot-list > li:nth-child(9)::before{
    content: '09';
}
section.hot-playlists .hot-list > li:nth-child(10)::before{
    content: '10';
}

section.hot-playlists .hot-list > li:nth-child(-n+3)::before{
    color: #df3436;
}

section.hot-playlists .hot-list > li h3{
    font-size: 17px;
}

section.hot-playlists .hot-list > li p{
    font-size: 12px;
    color: #888;
}

section.hot-playlists .hot-list > li{
    position: relative;
    margin-left: 38px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e2e2e3;
}

section.hot-playlists .hot-list .playButton{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}


section.hot-playlists .hot-list  svg.icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaa;
}
section.hot-playlists .hot-list svg.icon-sq{
    fill: #fe6723;
}

.hot-btn{
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #333;
}




/* 其实是广告嘻嘻 */
section.art{
    background: transparent url(//i.loli.net/2017/10/01/59d0ee8f1906a.png) no-repeat center center;
    background-size: cover;
    padding-top: 63px;  
    padding-bottom: 18px;
    text-align: center; 
}

section.art svg{
    width: 230px;
    height: 44px;
}

section.art .link-wrapper > a{
    display: inline-block;
    border: 1px solid #d43c33;
    color: #d43c33;
    line-height: 38px;
    font-size: 16px;
    padding: 0 49px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
} 

section.art .copyright{
    font-size: 12px;
    color: #888;
    transform: scale(0.75);
}

li.page-3 input{
    background-color: #ebecec;
}

form{
    padding: 15px 10px;
    border-bottom: 1px solid #e2e2e3;
}

.inputcover{
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    background: #ebecec;
    border-radius: 30px;
    font-size: 18px;
    color: #333;
}

input#search{
    font-size: 14px;
    border: none;
    outline: none;
}
.inputcover svg.search{
    position: absolute;
    top: 6px;
    left: 3px;
}

section.hot-search{
    padding: 15px 10px 0;
}

section.hot-search h3{
    font-size: 12px;
    line-height: 12px;
    color: #666;
}

section.hot-search .list{
    margin: 10px 0 7px;
}

section.hot-search .list li{
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    position: relative;
}

section.hot-search .list li::after{
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1px solid #d3d4da;
    border-radius: 32px;
}



ol#searchResult {
    
}

.search-item{
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    border-bottom: 1px solid #d3d4da;
}

.search-item:nth-child(1){
    border-top: 1px solid #d3d4da;
}

.search-item svg.search{
    width: 20px;
    height: 20px;
    margin-right: 7px;
    fill: #bbb;
}


.search-item a{
    width: 100%;
    font-size: 15px;
    line-height: 45px;
}

